<!-- <div class = "container">
	<div class="jumbotron">
		<h1>Image Gallry</h1>
		<p> These are my collection </p>
	</div> -->
<!-- <div class="col-sm-8" style=" margin-left: 600px; margin-top: 10px; width:300px"> -->
	<div class="thumbnail">
		<img ng-src="{{$ctrl.car.image}}" class="img" style="width:400px; height:300px">
		<h5 style=" margin-left: 150px; margin-top: 10px;">Type : {{$ctrl.car.type}} </br> color : {{$ctrl.car.color}} </br> price : {{$ctrl.car.price}}</h5>
	</div>
<!-- </div> -->
<!-- </div> -->
